html {
	width : 100%;
	height : 100%;
	margin : 0;
	padding : 0;
	display : block;
}

head {
	display : none;
}

body {
	background-color: #333;
	color: #fff;
	font-family: 'Roboto', 'Open Sans', 'Lucida Grande', 'sans-serif';
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#wrap {
	max-width : 800px;
	width : 100%;
	height : 100%;
	margin : auto;
	padding : 0;
}

#intro {
	margin: 0 auto 0 auto;
	padding: 10% 1.5em 1.3em 1.5em;
	width: 80%;
	text-align:center;
}


#logo {
	width: 100%;
}

#text-roomid {
	margin: auto;
	background-color: transparent;
	border: none;
	border-bottom: solid 1px #4c4c4f;
	color: #fff;
	font-size: 1em;
	margin-right: 0;
	padding: .4em 0;
	width: 100%;
}

#chk_public_room {
	margin-top : 10px;
}

#btn-open-or-join-room {
	background-color: #4285F4;
	border: none;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
	color: white;
	font-size: 0.8em;
	padding: 1em 3em 1em 3em;
	margin-top: 10px;
}


#list-room {
	margin: 0 auto 0 auto;
	padding: 1.5em 1.5em 1.3em 1.5em;
	width: 80%;
	text-align:left;
}

#public-rooms {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#public-room {
	float: left;
}

#btn-public-room {
	background-color: #de8703;
	border: none;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
	color: white;
	font-size: 0.8em;
	padding: 0.5em 1.5em 0.5em 1.5em;
	margin: 10px;
}






#videos-container {
	margin: 0 auto 0 auto;
	width: 80%;
	text-align:center;
}

#local-videos-container {
	border: 1px solid gray;
	bottom: 20px;
	left: 20px;
	max-height: 100px;
	max-width: 100px;
	width : 100%;
	opacity: 1;
	position: fixed;
}

video {
	width:100%;
	object-fit: fill;
	border-radius:0px;
}
