<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<title>DGU chat with WebRTC</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="main.js"></script>
</head>
<body>
	<div id="content">
		<div class="wrap">
			<section id="share-wrap">
				<a href="#" id="unique-token"></a>
			</section>
			<section id="join-wrap">
				<p>영상회의를 시작하시겠습니까?</p>
				<button id="start">Start</button>
			</section>
			<section id="room-list"></section>
			<!-- local/remote videos container -->
			<section id="video-wrap">
			</section>
		</div>
	</div>
</body>
</html>
