<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		
		<title>DGU chat with WebRTC</title>
		
		<link rel="stylesheet" type="text/css" href="styles.css">
		<script type="text/javascript" src="dguchat.js"></script>
	</head>
	<body>
		<video autoplay></video>
	</body>
</html>
