<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8"/>
		<title>DGUchat with WebRTC</title>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<h1>test</h1>
	</body>
</html>
