<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>DGU chat with WebRTC</title>
		<script type="text/javascript" src="dguchat.js"></script>
	</head>
	<body onload="main();">
		<video autoplay></video>
	</body>
</html>
