<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8"/>
		<title>DGUchat with WebRTC</title>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<p>select one</p>
		<a href="" id="enterAsFirst">Enter As first</a>
		<a href="" id="enterAsSecond">Enter As second</a>
		</br></br>

		<p>First page</p>
		<input id="firstName" type="text" value="Your Name">
		<button id="requestSecond" type="button">Request a Second</button>
		<button id="callSecond" type="button">Call the Second</button>
	
		</br></br>

		<p>Second page</p>
		<input type="text" id="secondName" value="Your Name">
		<input type="text" id="secondFirst" value="Your First">
		<button id="secondSignupButton" type="button">Wait for First</button>


		</br></br>
		<p>mainVideoTag</p>
		<video id="mainVideoTag" autoplay></video>

		</br>
		<p>SmallVideoTag</p>
		<video id="smallVideoTag" autoplay></video>
	
		<script src="webrtc.js"></script>
		<script src="app.js"></script>
	</body>
</html>
